NODE_TLS_REJECT_UNAUTHORIZED=0
NODE_ENV=development

DEFAULT_LANGUAGE=[Website language, default 'ru']
API_URL=[API server URI, default 'http://localhost:3000/api']
S3_URL=[AWS S3 bucket URL, default 'https://urussu.s3.amazonaws.com']
