ENV=[Environment marker, default 'dev']
URI=[Server host URI, default 'localhost']
PORT=[Server port, default '3000']

DB_HOST=[MongoDB host URI, default 'localhost']
DB_ADMIN_USERNAME=[The same as in ./mongo/.env]
DB_ADMIN_PASSWORD=[The same as in ./mongo/.env]

VK_API_VERSION=
VK_SERVICE_KEY=
VK_CLIENT_ID=
VK_CLIENT_SECRET=

IDENTITY_POOL_ID=[AWS Cognito related id, needed to upload images to S3]
